@page
@model WebApp.RazorPages.Pages.Records.IndexModel

@{
    ViewData["Title"] = "Records";
}

<div class="container-70 my-4">
    <table class="table ct-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].PerformerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Record)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-page="Create" class="btn btn-outline-info">Create New</a>
</p>